<p> <%= controller.controller_name%>:show_all</p>
 <h1 class='galindo'>Welcome to the TTS Bootcamp Survival Guide</h1>
 <!-- render the partial -->
<%# render "product_loop" %>
<div class="container puzzle">
	<%= image_tag("puzzle.png", id: "Image-Maps-Com-image-maps-2018-02-26-223942", border: "0", width: "624", height: "489", SorgWidth: "624", orgHeight: "489", usemap: "#image-maps-2018-02-26-223942", alt: "") %>
	<map name="image-maps-2018-02-26-223942" id="ImageMapsCom-image-maps-2018-02-26-223942">
	<area shape="rect" coords="622,487,624,489" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
	<area  alt="" title="" href="http://www.image-maps.com/" shape="poly" coords="74,81,225,82,229,247,186,248,181,245,180,193,123,192,119,249,71,249,70,186,121,185,124,133,72,129" style="outline:none;" target="_self"     />
	<area  alt="" title="" href="http://www.image-maps.com/" shape="poly" coords="241,80,287,80,290,130,349,132,344,81,393,82,395,248,247,247,243,189,292,186,293,136,276,129,244,129" style="outline:none;" target="_self"     />
	<area  alt="" title="" href="http://www.image-maps.com/" shape="poly" coords="407,80,563,81,565,246,516,248,514,196,463,194,461,244,409,247,406,187,457,183,455,135,410,132" style="outline:none;" target="_self"     />
	<area  alt="" title="" href="http://www.image-maps.com/" shape="poly" coords="72,259,229,259,230,296,182,297,181,347,233,354,232,405,179,406,176,356,125,353,119,404,73,405" style="outline:none;" target="_self"     />
	<area  alt="" title="" href="http://www.image-maps.com/" shape="poly" coords="245,260,288,259,289,309,343,312,347,259,393,261,396,304,352,304,341,322,345,349,399,354,397,406,246,405" style="outline:none;" target="_self"     />
	<area  alt="" title="" href="http://www.image-maps.com/" shape="poly" coords="409,261,567,258,568,294,512,298,512,350,565,355,568,405,515,405,511,352,458,354,457,404,407,406" style="outline:none;" target="_self"     />
	</map>	
</div>